
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#splash img{
    width:100%;
   }

 .fondoDos{
  width: 100%;
  height: 100vh;
  background-image: url(../img/phone.jpg);
  background-size: cover;
  background-position: right 90%;
  background-repeat: no-repeat;
  text-align: center;
}  


    
.n h1{
left: 50px;
}
.n h3{
left: 50px;
}

.fondoDos button{
	margin-top: 400px;
}
.imagenes img{

	width: 20%;
}
